@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    7% {
        transform: translate(3px, -3px);
    }

    14% {
        transform: translate(3px, 3px);
    }

    21% {
        transform: translate(-1px, 3px);
    }

    28% {
        transform: translate(-3px, 3px);
    }

    35% {
        transform: translate(-3px, -3px);
    }

    42% {
        transform: translate(2px, -3px);
    }

    49% {
        transform: translate(3px, 1px);
    }

    56% {
        transform: translate(-2px, 3px);
    }

    63% {
        transform: translate(-2px, -2px);
    }

    70% {
        transform: translate(2px, -3px);
    }

    78% {
        transform: translate(1px, 2px);
    }

    86% {
        transform: translate(-1px, -1px);
    }

    93% {
        transform: translate(1px, 1px);
    }

    100% {
        transform: translate(0, 0);
    }
}